body{
	background: linear-gradient(to right, rgb(255, 255, 255), rgb(150, 150, 150));
	margin: 1%;
}	
h1{
	font-size: 300%;
	color: rgb(0, 0, 0);
}
header{
	text-align: center;
	padding: 15px;
}
nav{
	font-variant: small-caps;
	font-size: 150%;
	font-family: "Times New Roman", Arial, serif;
}
a{
	display: block;
	font-weight: bold;
	color:rgb(0, 0, 0);
	font-variant: small-caps;	
	width: 200px;
	padding: 4px;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 10px;
	background: rgb(150, 150, 150);
}
a:hover{
	background: rgb(255, 255, 255);
}
a:focus{
	background: rgb(255, 255, 255);
}
a:active{
	border: 3px solid rgb(0, 0, 0);
}
h2{
	color: rgb(0, 0, 0);
}
section{
	width: 30%;
	display: inline-block;
	float:left;
	margin-right: 2%;
}
details{
	font-style: italic;
}
summary{
	font-style: normal;
}
img{
	width: 300px;
	line-height: normal;
	display:inline-block;
	float: left;
	margin-right: 2%;
}

footer{
	color: rgb(0, 0, 0);
	clear: both;

}